.modal-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;

  top: 0;
  left: 0;

  background: rgba(4, 9, 17, 0.8);
}

.modal-wrapper .modal {
  background: var(--white);
  width: min(59rem, 90%);
  height: 36.2rem;
  margin: auto auto;
  border-radius: 0.8rem;

  font-family: 'Poppins', sans-serif;

  text-align: center;
  padding: 6.4rem;
}

.modal-wrapper .modal p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--grey-dark);
  margin-bottom: 2.4rem;
}

.modal-wrapper .modal h2 {
  margin-bottom: 1.2rem;
}

.modal-wrapper .modal input {
  margin-bottom: 4rem;
  border: 0.2rem solid var(--blue);
  padding: 1.3rem 1.6rem;
  outline: none;
  width: 30.2rem;
  height: 4.8rem;
}

.modal-wrapper .modal .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper .modal .buttons > button,
.modal-wrapper .modal .buttons > .button {
  padding: 1.3rem 3.2rem;
}

.modal-wrapper .modal .button:nth-child(1) {
  margin-right: 0.8rem;

}